body {
  background-color: #E8EEF2;
  font-family: 'Lato', sans-serif;
  color: #404042;
}

a{
  color: #ff9a52;
}

.PersonInfo {
  text-align: center;
}

.profileHead{
  color: #fff;
  background-color: #849AA8;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 2px 10px 3px #000;  
}

.PersonImage {
  display: inline-block;
  margin: 20px;
}

.profileImg {
  border-radius: 50%;
  box-shadow: 2px 2px 10px 3px #000;
}

profileDetails{
  display: flex;
  justify-content: center;
}

.eulogy{
  width: 80%;
  margin: 0 10%;
  float: right;
}